<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_ThemeOptionsIndigo>
			<version>1.1.0</version>
			<depends>
			<!-- no dependencies -->
			</depends>
		</Meigee_ThemeOptionsIndigo>
	</modules> 
	<admin>
		<routers>
			<adminhtml2>
				<use>admin</use>
				<args>
					<module>Meigee_ThemeOptionsIndigo</module>
					<frontName>themeoptionsindigo</frontName>
				</args>
			</adminhtml2>
		</routers>
	</admin>
	<frontend>
		<routers>
		   <meigeefrontend>
			  <use>standard</use>
			  <args>
				 <module>Meigee_ThemeOptionsIndigo</module>
				 <frontName>meigeeactions</frontName>
			  </args>
		   </meigeefrontend>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<meigeesettings>
					<file>meigeesettings.xml</file>
				</meigeesettings>
			</updates>
		</layout>
		<menu>
			<meigee translate="title" module="ThemeOptionsIndigo">
				<title>Meigee</title>
				<sort_order>9999</sort_order>
				<children>
					<theme_options translate="title" module="ThemeOptionsIndigo">
						<title>Theme Options v1.3</title>
						<sort_order>1</sort_order>
						<children>
							<general_options translate="title" module="ThemeOptionsIndigo">
								<title>General Options</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_general</action>
							</general_options>
							<design_options translate="title" module="ThemeOptionsIndigo">
								<title>Design Options</title>
								<sort_order>2</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_design</action>
							</design_options>
							<productpage_options translate="title" module="ThemeOptionsIndigo">
								<title>Product Page Options</title>
								<sort_order>3</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_productpage</action>
							</productpage_options>
							<sidebar_options translate="title" module="ThemeOptionsIndigo">
								<title>Sidebar Options</title>
								<sort_order>4</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_sidebar</action>
							</sidebar_options>
							<headerslider_options translate="title" module="ThemeOptionsIndigo">
								<title>Header Slider</title>
								<sort_order>5</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_headerslider</action>
							</headerslider_options>
							<bgslider_options translate="title" module="ThemeOptionsIndigo">
								<title>Background Slider</title>
								<sort_order>6</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_indigo_bgslider</action>
							</bgslider_options>
						</children>
					</theme_options>
					<restore_theme translate="title" module="ThemeOptionsIndigo">
						<title>Restore Defaults</title>
						<sort_order>1</sort_order>
						<action>themeoptionsindigo/restore/index</action>
					</restore_theme>
					<activate_theme translate="title" module="ThemeOptionsIndigo">
						<title>Activate Theme</title>
						<sort_order>1</sort_order>
						<action>themeoptionsindigo/activation/index</action>
					</activate_theme>
				</children>
			</meigee>
		</menu>
		<events>
		    <controller_action_predispatch>
                <observers>
                    <themeoptionsindigo_notification>
                        <type>singleton</type>
                        <class>Meigee_ThemeOptionsIndigo_Model_Feed</class>
                        <method>observe</method>
                    </themeoptionsindigo_notification>
                </observers>
            </controller_action_predispatch>
		</events>
	</adminhtml>
	<global>
		<models>
			<ThemeOptionsIndigo><class>Meigee_ThemeOptionsIndigo_Model</class></ThemeOptionsIndigo>
		</models>
		<resources>
		    <themeoptionsindigo_setup>
		      <setup>
		        <module>Meigee_ThemeOptionsIndigo</module>
		        <class>Meigee_ThemeOptionsIndigo_Model_Resource_Eav_Mysql4_Setup</class>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </themeoptionsindigo_setup>
		    <themeoptionsindigo_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </themeoptionsindigo_write>
		    <themeoptionsindigo_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </themeoptionsindigo_read>
		</resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<Meigee_ThemeOptionsIndigo_observer>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsIndigo_Controller_Observer</class>
						<method>overrideTheme</method>
					</Meigee_ThemeOptionsIndigo_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>  	
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<themeoptionsindigo_awesome>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsIndigo_Model_Observer</class>
						<method>cssgenerate</method>
					</themeoptionsindigo_awesome>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
		</events>
		<helpers>
			<ThemeOptionsIndigo><class>Meigee_ThemeOptionsIndigo_Helper</class></ThemeOptionsIndigo>
		</helpers>
		<extraconfig />
		<blocks>
			<meigee_themeoptionsindigo><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_themeoptionsindigo>
			<themeoptionsindigo><class>Meigee_ThemeOptionsIndigo_Block</class></themeoptionsindigo>
			<meigee_indigo_general><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_indigo_general>
			<meigee_indigo_productpage><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_indigo_productpage>
			<meigee_indigo_sidebar><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_indigo_sidebar>
			<meigee_indigo_headerslider><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_indigo_headerslider>
			<meigee_indigo_bgslider><class>Meigee_ThemeOptionsIndigo_Block</class></meigee_indigo_bgslider>
			<customcolorsblock>
				<class>Meigee_ThemeOptionsIndigo_Block_EditCustomColors</class>
			</customcolorsblock>
		</blocks>
	</global>
	<!---->
	<default>
		<iwdall>
			<default>
				<jquery>0</jquery>
			</default>
		</iwdall>
		<onepagecheckout>
			<general>
				<enabled>1</enabled>
			</general>
		</onepagecheckout>
		<price_slider>
		<price_slider_conf>
			<timeout>100</timeout>
		</price_slider_conf>
		<price_slider_settings>
			<slider_loader_active>1</slider_loader_active>
			<include_jquery_ui>1</include_jquery_ui>
		</price_slider_settings>
		<ajax_conf>
			<layered>1</layered>
			<overlay_color>#000000</overlay_color>
			<overlay_opacity>0.3</overlay_opacity>
			<loading_text_color>#000000</loading_text_color>
		</ajax_conf>
		</price_slider>
		<design>
			<header translate="welcome" module="page">
				<welcome>Default welcome msg!</welcome>
			</header>
			<footer translate="copyright" module="page">
				<copyright>&amp;copy; 2012 Magento Demo Store. All Rights Reserved.</copyright>
			</footer>
		 </design>
		 <meigee_indigo_general>
			<retina>
				<status>1</status>
			</retina>
			<header>
				<floatingheader>1</floatingheader>
			</header>
			<layout>
				<sitelayout>0</sitelayout>
				<responsiveness>1</responsiveness>
				<cartpage>cart_standard</cartpage>
			</layout>
			<customlogo>
				<logo_status>0</logo_status>
				<small_logo_status>0</small_logo_status>
			</customlogo>
			<footer>
				<footer_status>1</footer_status>
				<footer_static>indigo_footer</footer_static>
			</footer>
			<productlisting>
				<sidebar>sidebar_right</sidebar>
				<grid>3</grid>
				<quickview>1</quickview>
				<productname>1</productname>
				<productprice>1</productprice>
				<addtocart>1</addtocart>
				<compareproducts>1</compareproducts>
				<wishlist>1</wishlist>
				<mailtofriend>1</mailtofriend>
			</productlisting>
			<productimages>
				<keepAspectRatio>1</keepAspectRatio>
				<customAspectRatio>1.11</customAspectRatio>
			</productimages>
			<productlabels>
				<labelnew>1</labelnew>
				<labelonsale>1</labelonsale>
				<labelonlyxleft>0</labelonlyxleft>
				<salepercentage>1</salepercentage>
				<labelsorder>new_sale</labelsorder>
				<labelsposition>top-right</labelsposition>
				<labelview>label-type-2</labelview>
			</productlabels>
			<otheroptions>
				<totop>1</totop>
				<notices>1</notices>
			</otheroptions>
			<loginajax>
				<status>1</status>
			</loginajax>
			<lang_switcher>
				<status>language_flags</status>
				<label>0</label>
			</lang_switcher>
			<curr_switcher>
				<status>currency_images</status>
				<label>0</label>
			</curr_switcher>
			<fancybox>
				<fancybox_status>0</fancybox_status>
				<fancybox_home>0</fancybox_home>
				<fancybox_listing>0</fancybox_listing>
			</fancybox>
			<rollover>
				<rollover_status>1</rollover_status>
				<!-- <rollover_type>1</rollover_type> -->
			</rollover>
		</meigee_indigo_general>
		<meigee_indigo_design>
			<appearance>
				<font>1</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Montserrat</gfont>
				<lineheight>20</lineheight>
				<fontweight>100</fontweight>
				<patern>none</patern>
			</appearance>
			<icons>
				<search>fa-search</search>
				<headercart>fa-shopping-cart</headercart>
				<editproduct>fa-pencil</editproduct>
				<editaccount>fa-pencil</editaccount>
				<quickview>fa-search</quickview>
				<fancybox>fa-search</fancybox>
				<compare>fa-align-left</compare>
				<wishlist>fa-heart</wishlist>
				<emailfiend>fa-envelope</emailfiend>
				<descreaseqty>fa-angle-left</descreaseqty>
				<increaseqty>fa-angle-right</increaseqty>
				<mobilemenu>fa-bars</mobilemenu>
			</icons>
			<base>
				<base_override>0</base_override>
				<sitebg>ffffff</sitebg>
				<maincolor>cf3341</maincolor>
				<secondcolor>3b4348</secondcolor>
			</base>
			<catlabels>
				<label_one>eb4c4c</label_one>
				<label_one_color>fff</label_one_color>
				<label_one_h>9ede42</label_one_h>
				<label_one_color_h>fff</label_one_color_h>
				<label_two>4d8ab0</label_two>
				<label_two_color>fff</label_two_color>
				<label_two_h>4fa9e1</label_two_h>
				<label_two_color_h>fff</label_two_color_h>
				<label_three>FF712F</label_three>
				<label_three_color>fff</label_three_color>
				<label_three_h>FF712F</label_three_h>
				<label_three_color_h>fff</label_three_color_h>
			</catlabels>
			<header>
				<top_bg>3B4348</top_bg>
				<top_color>aaaaaa</top_color>
				<top_border>4d5559</top_border>
				<top_border_width>1</top_border_width>
				<top_links_and_switchers>aaaaaa</top_links_and_switchers>
				<top_links_and_switchers_h>cf3341</top_links_and_switchers_h>
				<top_switchers_bg>f5f5f5</top_switchers_bg>
				<top_switchers_border>eeeeee</top_switchers_border>
				<top_switchers_border_width>1</top_switchers_border_width>
				<top_switchers_bg_h>f5f5f5</top_switchers_bg_h>
				<top_switchers_border_h>eeeeee</top_switchers_border_h>
				<cart_bg>353c41</cart_bg>
				<cart_bg_h>4a5054</cart_bg_h>
				<cart_color>ffffff</cart_color>
				<cart_color_h>ffffff</cart_color_h>
				<cart_count_bg>cf3341</cart_count_bg>
				<cart_count>ffffff</cart_count>
				<cart_dropdown_bg>ffffff</cart_dropdown_bg>
				<cart_dropdown_product_bg>ffffff</cart_dropdown_product_bg>
				<cart_dropdown_product_bg_h>f5f5f5</cart_dropdown_product_bg_h>
				<cart_dropdown_product_title>3b4348</cart_dropdown_product_title>
				<cart_dropdown_product_title_h>cf3341</cart_dropdown_product_title_h>
				<cart_dropdown_price>cf3341</cart_dropdown_price>
				<cart_dropdown_count_bg>cccccc</cart_dropdown_count_bg>
				<cart_dropdown_count>ffffff</cart_dropdown_count>
				<cart_dropdown_label_color>888888</cart_dropdown_label_color>
				<cart_dropdown_options_color>666666</cart_dropdown_options_color>
				<cart_dropdown_total_bg>f5f5f5</cart_dropdown_total_bg>
				<cart_dropdown_total_label>aaaaaa</cart_dropdown_total_label>
				<cart_dropdown_total_price>cf3341</cart_dropdown_total_price>
				<links_bg>3b4348</links_bg>
				<links_color>aaaaaa</links_color>
				<links_bg_h>cf3341</links_bg_h>
				<links_color_h>ffffff</links_color_h>
				<links_divider_width>1</links_divider_width>
				<links_divider>4f565b</links_divider>
				<links_dropdown_shadow>000000</links_dropdown_shadow>
				<links_dropdown_link_bg>ffffff</links_dropdown_link_bg>
				<links_dropdown_link>888888</links_dropdown_link>
				<links_dropdown_divider>eeeeee</links_dropdown_divider>
				<links_dropdown_link_bg_h>f5f5f5</links_dropdown_link_bg_h>
				<links_dropdown_divider_h>eeeeee</links_dropdown_divider_h>
				<links_dropdown_link_h>888888</links_dropdown_link_h>
				<login_bg>ffffff</login_bg>
				<login_border>eeeeee</login_border>
				<login_border_width>1</login_border_width>
				<login_title_color>222222</login_title_color>
				<login_text>666666</login_text>
				<login_link>aaaaaa</login_link>
				<login_link_h>cf3341</login_link_h>
				<login_system_text>e85131</login_system_text>
				<login_input_bg>f5f5f5</login_input_bg>
				<login_input_border>dddddd</login_input_border>
				<login_input_border_width>1</login_input_border_width>
				<login_input_color>aaaaaa</login_input_color>
				<login_divider>eeeeee</login_divider>
				<login_divider_width>1</login_divider_width>
				<bottom_bg>ffffff</bottom_bg>
				<bottom_shadow>000000</bottom_shadow>
				<bottom_border_width>0</bottom_border_width>
				<bottom_border>ffffff</bottom_border>
				<bottom_home_bg>cf3341</bottom_home_bg>
				<bottom_home>ffffff</bottom_home>
				<bottom_home_h>ffffff</bottom_home_h>
				<search_bg>f5f5f5</search_bg>
				<search_border>dddddd</search_border>
				<search_border_width>1</search_border_width>
				<search_color>aaaaaa</search_color>
				<search_button_bg>e5e5e5</search_button_bg>
				<search_button_color>aaaaaa</search_button_color>
				<search_button_bg_h>cf3341</search_button_bg_h>
				<search_button_color_h>ffffff</search_button_color_h>
			</header>
			<headerslider>
				<buttons_bg>000000</buttons_bg>
				<buttons_color>ffffff</buttons_color>
				<buttons_bg_h>CF3341</buttons_bg_h>
				<buttons_color_h>ffffff</buttons_color_h>
				<type1_title>3B4348</type1_title>
				<type1_subtitle>3B4348</type1_subtitle>
				<type1_text>888888</type1_text>
				<type2_title>ffffff</type2_title>
				<type2_subtitle>3B4348</type2_subtitle>
				<type2_text>888888</type2_text>
				<type3_title>ffffff</type3_title>
				<type3_subtitle>ffffff</type3_subtitle>
				<type3_text>888888</type3_text>
				<type3_additional_subtitle>ffffff</type3_additional_subtitle>
			</headerslider>
			<menu>
				<top_link_bg>ffffff</top_link_bg>
				<top_link_color>444444</top_link_color>
				<top_link_bg_h>CF3341</top_link_bg_h>
				<top_link_color_h>ffffff</top_link_color_h>
				<top_link_icon>888888</top_link_icon>
				<top_link_icon_h>ffffff</top_link_icon_h>
				<submenu_bg>ffffff</submenu_bg>
				<submenu_top_link_color>444444</submenu_top_link_color>
				<submenu_top_link_color_h>CF3341</submenu_top_link_color_h>
				<submenu_top_link_divider>eeeeee</submenu_top_link_divider>
				<submenu_top_link_divider_width>4</submenu_top_link_divider_width>
				<submenu_top_link_divider_h>eeeeee</submenu_top_link_divider_h>
				<submenu_link_bg>ffffff</submenu_link_bg>
				<submenu_link_border>eeeeee</submenu_link_border>
				<submenu_link_border_width>1</submenu_link_border_width>
				<submenu_link_color>888888</submenu_link_color>
				<submenu_link_bg_h>ffffff</submenu_link_bg_h>
				<submenu_link_border_h>eeeeee</submenu_link_border_h>
				<submenu_link_color_h>CF3341</submenu_link_color_h>
				<submenu_borders_color>dddddd</submenu_borders_color>
				<submenu_borders_width>1</submenu_borders_width>
				<submenu_text_color>888888</submenu_text_color>
				<submenu_links_color>CF3341</submenu_links_color>
				<submenu_links_color_h>3B4348</submenu_links_color_h>
				<submenu_strong_text_color>444444</submenu_strong_text_color>
				<submenu_title_color>444444</submenu_title_color>
				<submenu_text_banner_bg>eeeeee</submenu_text_banner_bg>
				<submenu_text_banner>888888</submenu_text_banner>
				<submenu_text_banner_title>444444</submenu_text_banner_title>
				<submenu_text_banner_icon>ffffff</submenu_text_banner_icon>
				<submenu_text_banner_icon_bg>3B4348</submenu_text_banner_icon_bg>
			</menu>
			<content>
				<page_title_color>444444</page_title_color>
				<page_title_border>eeeeee</page_title_border>
				<page_title_border_width>4</page_title_border_width>
				<toolbar_label>888888</toolbar_label>
				<toolbar_select_bg>f5f5f5</toolbar_select_bg>
				<toolbar_select_border>eeeeee</toolbar_select_border>
				<toolbar_select_border_width>1</toolbar_select_border_width>
				<toolbar_select_text>aaaaaa</toolbar_select_text>
				<toolbar_select_item_bg>f5f5f5</toolbar_select_item_bg>
				<toolbar_select_item>888888</toolbar_select_item>
				<toolbar_select_item_bg_h>dddddd</toolbar_select_item_bg_h>
				<toolbar_select_item_h>888888</toolbar_select_item_h>
				<toolbar_border>eeeeee</toolbar_border>
				<toolbar_border_width>1</toolbar_border_width>
				<pager_buttons_bg>eeeeee</pager_buttons_bg>
				<pager_buttons_color>222222</pager_buttons_color>
				<pager_buttons_bg_h>CF3341</pager_buttons_bg_h>
				<pager_buttons_color_h>ffffff</pager_buttons_color_h>
				<pager_active_button_bg>CF3341</pager_active_button_bg>
				<pager_active_button>ffffff</pager_active_button>
			</content>
			<buttons>
				<buttons_bg>CF3341</buttons_bg>
				<buttons_border>ffffff</buttons_border>
				<buttons_border_width>0</buttons_border_width>
				<buttons_color>ffffff</buttons_color>
				<buttons_color_h>ffffff</buttons_color_h>
				<buttons2_bg>3B4348</buttons2_bg>
				<buttons2_border>ffffff</buttons2_border>
				<buttons2_border_width>0</buttons2_border_width>
				<buttons2_color>ffffff</buttons2_color>
				<buttons2_color_h>ffffff</buttons2_color_h>
				<quick_view_bg>000000</quick_view_bg>
				<quick_view_text>ffffff</quick_view_text>
				<quick_view_bg_h>3B4348</quick_view_bg_h>
				<quick_view_text_h>ffffff</quick_view_text_h>
			</buttons>
			<products>
				<product_bg>ffffff</product_bg>
				<product_border>ffffff</product_border>
				<product_border_width>0</product_border_width>
				<product_title>3B4348</product_title>
				<product_title_h>cf3341</product_title_h>
				<product_text>888888</product_text>
				<product_link_color>cf3341</product_link_color>
				<product_link_color_h>3B434A</product_link_color_h>
				<product_price>cf3341</product_price>
				<product_old_price>aaaaaa</product_old_price>
				<product_special_price>cf3341</product_special_price>
				<label_new_bg>3B434A</label_new_bg>
				<label_new_color>ffffff</label_new_color>
				<label_sale_bg>cf3341</label_sale_bg>
				<label_sale_color>ffffff</label_sale_color>
			</products>
			<social_links>
				<social_links_bg>3b4348</social_links_bg>
				<social_links_color>898c8e</social_links_color>
				<social_links_border>4f565b</social_links_border>
				<social_links_border_width>1</social_links_border_width>
				<social_links_bg_h>cf3341</social_links_bg_h>
				<social_links_border_h>cf3341</social_links_border_h>
				<social_links_color_h>ffffff</social_links_color_h>
			</social_links>
			<footer>
				<footer_bg>3B4348</footer_bg>
				<footer_text>ffffff</footer_text>
				<footer_links>ffffff</footer_links>
				<footer_title>ffffff</footer_title>
				<footer_divider>4f565b</footer_divider>
				<footer_divider_width>4</footer_divider_width>
				<footer_link_bg>3b4348</footer_link_bg>
				<footer_link_border>4f565b</footer_link_border>
				<footer_link_border_width>1</footer_link_border_width>
				<footer_link_color>cccccc</footer_link_color>
				<footer_link_bg_h>434a4f</footer_link_bg_h>
				<footer_link_border_h>4f565b</footer_link_border_h>
				<footer_link_color_h>cccccc</footer_link_color_h>
				<footer_subscribe_text>cccccc</footer_subscribe_text>
				<footer_subscribe_input_bg>353c41</footer_subscribe_input_bg>
				<footer_subscribe_input_border>353c41</footer_subscribe_input_border>
				<footer_subscribe_input_border_width>1</footer_subscribe_input_border_width>
				<footer_subscribe_input_text>aaaaaa</footer_subscribe_input_text>
				<footer_subscribe_active_input_bg>353c41</footer_subscribe_active_input_bg>
				<footer_subscribe_active_input_border>6dafe1</footer_subscribe_active_input_border>
				<footer_subscribe_active_input_text>aaaaaa</footer_subscribe_active_input_text>
			</footer>
		</meigee_indigo_design>
		<meigee_indigo_productpage>
			<general>
				<collateral_related>related_slider</collateral_related>
				<relatedposition>bottom</relatedposition>
				<moreviews>moreviews_slider</moreviews>
				<prevnext>prevnext</prevnext>
				<product_sku>1</product_sku>
			</general>
			<layout>
				<collateral>collateral_tabs</collateral>
				<productsidebar>right</productsidebar>
				<pagelayout>productpage_medium</pagelayout>
				<collateral_position>underdetails</collateral_position>
			</layout>
			<brand>
				<productbrand>1</productbrand>
				<brandformat>.png</brandformat>
				<brandsearch>1</brandsearch>
				<brandtarget>1</brandtarget>
				<brandpos>center</brandpos>
			</brand>
			<additional>
				<product_custom>indigo_product_custom</product_custom>
			</additional>
		</meigee_indigo_productpage>
		<meigee_indigo_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>
		</meigee_indigo_sidebar>
		<meigee_indigo_headerslider>
			<coin>
				<enabled>1</enabled>
				<preloader>1</preloader>
				<onlyhome>1</onlyhome>
				<autoSlide>1</autoSlide>
				<slidertype>0</slidertype>
				<slides>indigo_slide_1, indigo_slide_2, indigo_slide_3</slides>
				<slides2>indigo_boxed_slide_1, indigo_boxed_slide_2, indigo_boxed_slide_3</slides2>
				<autoSlideTimer>5000</autoSlideTimer>
				<autoSlideTransTimer>750</autoSlideTransTimer>
				<desktopClickDrag>1</desktopClickDrag>
				<infiniteSlider>0</infiniteSlider>
			</coin>
		</meigee_indigo_headerslider>
		<meigee_indigo_bgslider>
			<slideroptions>
				<enabled>0</enabled>
				<fade>750</fade>
				<duration>4000</duration>
			</slideroptions>
		</meigee_indigo_bgslider>
		<ajax>
			<wishlistcompare>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</wishlistcompare>
			<general>
				<enabled>1</enabled>
				<enabledpro>1</enabledpro>
			</general>
			<ajaxtoolbar>
				<enabled>1</enabled>
			</ajaxtoolbar>
		</ajax>
	</default>
</config>