<?xml version="1.0"?>
<config>
    <modules>
        <Adroll_Pixel>
            <version>1.0.6</version>
        </Adroll_Pixel>
    </modules>
    <global>
        <helpers>
            <adroll_pixel>
                <class>Adroll_Pixel_Helper</class>
            </adroll_pixel>
        </helpers>
        <models>
            <adroll_pixel>
                <class>Adroll_Pixel_Model</class>
            </adroll_pixel>
        </models>
        <blocks>
            <adroll_pixel>
                <class>Adroll_Pixel_Block</class>
            </adroll_pixel>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <pixel>
                    <file>adroll_pixel.xml</file>
                </pixel>
            </updates>
        </layout>
        <routers>
            <Adroll_Pixel>
                <use>standard</use>
                <args>
                    <module>Adroll_Pixel</module>
                    <frontName>adroll</frontName>
                </args>
            </Adroll_Pixel>
        </routers>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <adroll_pixel_log_cart_add>
                        <class>adroll_pixel/observer</class>
                        <method>logCartAdd</method>
                    </adroll_pixel_log_cart_add>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adroll_pixel after="Mage_Adminhtml">Adroll_Pixel_Adminhtml</adroll_pixel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Adroll_Pixel>
                    <files>
                        <default>Adroll_Pixel.csv</default>
                    </files>
                </Adroll_Pixel>
            </modules>
        </translate>
        <events>
            <store_group_delete_after>
                <observers>
                    <adroll_pixel>
                        <class>adroll_pixel/observer</class>
                        <method>storeGroupDeleteAfter</method>
                    </adroll_pixel>
                </observers>
            </store_group_delete_after>

            <store_save_after>
                <observers>
                    <adroll_pixel>
                        <class>adroll_pixel/observer</class>
                        <method>storeSaveAfter</method>
                    </adroll_pixel>
                </observers>
            </store_save_after>

            <store_delete_after>
                <observers>
                    <adroll_pixel>
                        <class>adroll_pixel/observer</class>
                        <method>storeDeleteAfter</method>
                    </adroll_pixel>
                </observers>
            </store_delete_after>

            <admin_system_config_section_save_after>
                <observers>
                    <adroll_pixel>
                        <class>adroll_pixel/observer</class>
                        <method>configSave</method>
                    </adroll_pixel>
                </observers>
            </admin_system_config_section_save_after>
        </events>
    </adminhtml>
</config>
