<?xml version="1.0"?>
<config>
    <sections>
        <Adroll_Pixel translate="label" module="adroll_pixel">
            <label>AdRoll Integration</label>
            <tab>service</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <sort_order>10</sort_order>
            <groups>
                <demo module="adroll_pixel">
                    <frontend_type>text</frontend_type>
                    <frontend_model>adroll_pixel/adminhtml_advertisables</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </demo>
            </groups>
        </Adroll_Pixel>
    </sections>
</config>
